[Unit]
Description=My Telegram Bot Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/bots/ip.py
WorkingDirectory=/root
Restart=always
User=root

[Install]
WantedBy=multi-user.target
